//миксины
@import "root.scss";

@mixin circle($bg-olor,$size,$radius){
	background-color: $main-elements-color;
	height: $size;
	width: $size;
	border-radius: $radius;
}

@mixin margin($mr-top,$mr-rig,$mr-bot,$mr-lef){
	margin-top: $mr-top;
	margin-right: $mr-rig;
	margin-bottom: $mr-bot;
	margin-left: $mr-lef;
}

@mixin padding($pad-top,$pad-rig,$pad-bot,$pad-lef){
	padding-top: $pad-top;
	padding-right: $pad-rig;
	padding-bottom: $pad-bot;
	padding-left: $pad-lef;
}

@mixin string($width,$border,$bg-color){
	width: $width;
	border: $border;
	background-color:$bg-color;
}

@mixin yelllow-btn($width,$height,$shadow,$color){
	width: $width;
	height: $height;
	box-shadow: $shadow;
	background-color: $color;
}
