// root - переменные, которые буду использовтаь в проекте
//colors - цвета
$main-text-color: #000000;
$confidences-text-color: #2306D6;
$main-elements-color: #FFA501;
$burger-text-color: #FFFFFF;
$validation-text-color: red;
// font - шрифт
$header-biggest-font-size: 700 48px/60px 'Poppins', sans-serif;
$header2-font-size: 700 36px/60px 'Poppins', sans-serif;
$header-yellow-circle-font-size: 700 16px/24px 'Poppins', sans-serif;
$text-subtitles-font-size: 700 14px/21px 'Poppins', sans-serif;
$text-social-font-size: 700 16px/24px 'Poppins', sans-serif;
$main-text-font-size: 500 12px/18px 'Poppins', sans-serif;
$burger-menu-text-font-size: 700 24px/36px 'Poppins', sans-serif;