//normalize сброс стилей
@import url(../../../node_modules/normalize.css/normalize.css);
//шрифты
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
//root- переменные
//цвета
$main-text-color: #000000;
$confidential-text-color: #2306D6;
$color-decorative-elements: #FFA501;
$burger-text-color: #FFFFFF;
$validation-text-color: red;
//шрифты,текст, заголовки
$main-header: 700 48px/60px 'Poppins', sans-serif;
$secondary-header: 700 36px/60px 'Poppins', sans-serif;
$yellow-circle-header: 700 16px/24px 'Poppins', sans-serif;
$subtitles-header: 700 14px/21px 'Poppins', sans-serif;
$social-text: 700 48px/60px 'Poppins', sans-serif;
$main-text: 500 12px/18px 'Poppins', sans-serif;
$main-text-input: 500 12px/16px 'Poppins', sans-serif;
$burger-text: 700 24px/36px 'Poppins', sans-serif;
$education-header-text: 700 20px/30px 'Poppins', sans-serif;
$main-header-adaptiv : 700 26px/39px 'Poppins', sans-serif;
$secondary-header-adaptiv: 700 24px/36px 'Poppins', sans-serif;
// миксины
//миксин желтых кружочков
@mixin circle-yellow($width,$height,$br-radius,$bg-color){
	width: $width;
	height: $height;
	border-radius: $br-radius;
	background-color: $bg-color;
};
//миксин черных и желтых черточек
@mixin string($width,$height,$bg-color){
	width: $width;
	height: $height;
	background-color: $bg-color;
};
//миксин кнопок 
@mixin btn($width,$height,$border,$bg-color){
	width: $width;
	height: $height;
	border: $border;
	background-color: $bg-color;
};
//миксин внешних отступов
@mixin margin($mr-top,$mr-rig,$mr-bot,$mr-lef){
	margin-top: $mr-top;
	margin-right: $mr-rig;
	margin-bottom: $mr-bot;
	margin-left: $mr-lef;
};
//миксин внутренних отступов
@mixin padding($pd-top,$pd-rig,$pd-bot,$pd-lef){
	padding-top: $pd-top;
	padding-right: $pd-rig;
	padding-bottom: $pd-bot;
	padding-left: $pd-lef;
};
body{
	overflow-x: hidden;
}
//container-header
.header__img {
		background-image: url("../src/../img/Background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		position: relative;
};
// блок social
//social-контейнер 
.social {
	width: 338px;
	height: 24px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: rotate(-90deg);
	position: absolute;
	top: 376px;
	left:25px;
};
//social-параграф 
.social__paragraph {
	@include margin(0px,15px,0px,0px)
};
//второстепенный заголовок 
.secondary__header {
	font: $secondary-header;
	color: $main-text-color;
};
//social-полоска
.social__element {
	@include margin(0px,15px,0px,0px)
};
//полоса
.string__element {
	@include string(70px,2px,$main-text-color)
};
//social-позиционирование иконок
.social__img-header {
	@include margin(0px,15px,0px,0px);
		&:last-child {
			@include margin(0px,0px,0px,0px)
		};
};
//header 
//container -1140px
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	width: 1140px;
};
//header блок
.header {
	display:flex;
	flex-direction: column;
	position: relative;
};
//header-позиционирование+желтый круг
.header__element {
	@include margin(206px,885px,9px,10px);
	z-index: 1;
};

.circle{
	border-radius: 50%;
	background-color: $color-decorative-elements;
};

.header__circle--size{
	width: 36px;
	height: 36px;
	position: absolute;
	top: 200px;
	left: -3px;
	z-index: 0;
};
//третий заголовок 
.third__header {
	font: $yellow-circle-header;
	color: $main-text-color;
};
//самый большой заголовок
.header__main-header {
	@include margin(0px,608px,25px,0px);
	font: $main-header;
	color:$main-text-color;
};
//container - btn+link
.header__btn-link{
display: flex;
flex-direction: row;
align-items: center;
@include margin(0px,0px,362px,0px);
};
//позиционирование кнопки в header
.header__btn {
	@include padding(12px,25px,12px,25px);
	@include margin(0px,44px,0px,0px);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	cursor: pointer;
};
// шаблон кнопки 
.main__btn--yellow {
	@include btn( 135px, 45px, none,$color-decorative-elements);
};
// шаблон жирного текста
.bold-text {
	font: $subtitles-header;
	color: $main-text-color;
};
// ссылка в header
.link {
	text-decoration: none;
	color: $main-text-color;
};
//burger-btn-menu
.burger__burger-position {
	width: 36px;
	height: 21px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 20px;
	right:20px;
	cursor: pointer;
};
//burger-menu
//burger-btn-elements-position
.burger__element {
	@include margin(0px,0px,6px,0px);
	&:last-child{
		margin-bottom: 0px;
	};
};
//burger-btn-elements
.string__element-burger {
	@include string(30px,3px,$main-text-color);
	&.xl{
		@include string(36px,3px,$main-text-color);
	};
};
//burger-container
.burger-menu {
	width: 345px;
	height: 795px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color:#FFA501;
	display: none;
	
};
//контейнер 
.nav {
	display: flex;
	flex-direction: column;
	@include margin(140px,94px,365px,40px);
}
//контейнер меню
.menu {
	font: $burger-text;
	color:$burger-text-color;
	list-style-type: none;
}
//крестик
.close__two{
	font-size: 38px;
	position: absolute;
	top: 24px ;
	left: 291px;
	right: 25px;
	cursor: pointer;
}
//ссылки
.menu__item {
	text-decoration: none;
	color:$burger-text-color;
	position: relative;
	&::before{
		position: absolute;
		top: 9px;
		left: -35px;
		border: 1px solid $main-text-color;
		@include circle-yellow(15px,15px,50%,$color-decorative-elements);
		content: '';
	};
}
//элементы меню
.li__menu-item {
	@include margin(0px,0px,15px,0px);
}

.burger__social {
	display: flex;
	flex-direction:row; 
	position: absolute;
	bottom: 50px ;
	left: 127px;
}
//section experience
.experience {
	display: flex;
	flex-direction: column;
	align-items:center;
	height: 559px;
	@include margin(120px,0px,120px,0px);
};
//желтый круг опыт
.experience__circle--size{
	width: 36px;
	height: 36px;
	position: absolute;
	top: -5px;
	left: 4px;
	z-index: -10;
};
//отступы third-header
.expirience__element {
	@include margin(0px,0px,6px,0px);
	position: relative;
	z-index: 1;
};
//отступы secondary-header
.experience__header-position {
	@include margin(0px,0px,25px,0px);
};
//желтая строчка
.string__element--yellow {
	@include string(60px,3px,$color-decorative-elements);
};
//отступы желтой полосы
.experience__string-position {
	@include margin(0px,0px,60px,0px)
};
// контейнер опыт&образование
.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
};
// контейнер опыт/образование
.education {
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	position: relative;
};
// круг рядом с образованием/опыт работы
.education__circle--size{
	width: 15px;
	height: 15px;
	position: absolute;
	top:7px;
	left: -51px;
};
// вертикальная длинная  полоса 
.education__main-string{
	@include string(343px,1px,$main-text-color);
	position: absolute;
	top:193px;
	left: -215px;
	transform: rotate(-90deg);
};
// контейнер 
.education__item{
	display: flex;
	flex-direction: column;
	@include margin(0px,0px,45px,0px);
};
// контейнер для круга,иконки и subtitle
.education__element-circle{
	display: flex;
	flex-direction: row;
	@include margin(0px,0px,12px,0px);
};
// размеры кргуа и маленькая полоса, которая перед кругом
.education__circle--size--big{
	width: 36px;
	height: 36px;
	@include margin(0px,20px,0px,0px);
	position: relative;
	&::before{
		@include string(42px,1px,$main-text-color);
		transform: rotate(-180deg);
		content: '';
		position: absolute;
		top: 20px;
		left: -42px;
	};
};
// иконка рядом с кругом
.education__img-circle {
	position: absolute;
	top: 16px;
	left: 15px;
};

.education__item--bottomn{
	margin-bottom: 0px;
};
// отступ от текста lorem..
.education__header {
	@include margin(0px,0px,45px,0px)
};
//  заголовки большие
.education__header-text {
	font: $education-header-text;
	color:$main-text-color;
};

.education__subtitle{
	display: flex;
	flex-direction: column;
};
// Lorem текст
.education__main-text {
	@include margin(0px,0px,0px,0px)
};

.education__main-text-adaptiv{
	display: none;
}
// Жирные маленькие заголовки 
.education_subtitle-bold {
	@include margin(0px,0px,0px,0px);
};
// шрифт главного маленького текста
.main__text {
	font: $main-text;
	color:$main-text-color;
};

.education__text {
	@include margin(0px,0px,0px,0px);
};
.education__text-adaptiv{
	display: none;
}
//footer-контейнер
.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 600px;
	margin-bottom: 200px;
};
//footer-контейнер
.footer__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1140px;
};
//footer-контейнер-элементов
.footer__flex{
	display: flex;
	flex-direction: row;
};
//footer-контейнер-основной информации
.footer__info{
	@include margin(0px,0px,0px,70px)
};
//footer-заголовок контакты
.footer__element{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 15px;
	position: relative;
	z-index: 1;
};
// footer круг
.footer__circle--size {
	width: 36px;
	height: 36px;
	position: absolute;
	top: -5px;
	left: -13px;
	z-index: -10;
};
//отступы для заголовка Свжитесь со мной
.footer__footer-position {
	@include margin(0px,0px,0px,0px)
};
//отступ желтой полосы
.footer__string-position {
	@include margin(4px,0px,20px,0px)
};
//отступы subtitle
.footer__subtitle-bold {
	@include margin(0px,0px,20px,0px)
};
//курсор для иконок
.social__img{
	cursor: pointer;
};
//внешние отступы иконок
.social__img-footer-1 {
	@include margin(0px,25px,20px,0px)
};
//внешние отступы иконок
.social__img-footer-2 {
	@include margin(0px,20px,20px,0px)
};
//внешние отступы  иконок
.social__img-footer-3 {
	@include margin(0px,0px,20px,0px)
};
// контейнер
.feedback__footer-info {
	display: flex;
	flex-direction: row;
	margin-bottom: 21px;
};
//инпут 
.user {
	width: 280px;
	height: 45px;
	border: 1px solid $main-text-color;
	margin-right: 19px; 
	&:last-child{
		margin-right: 0px; 
	};
};

.input__box{
	position: relative;
	margin-right: 21px;
};

.input__box-label{
	 position: absolute;
  	top: -10px;
  	left: 10px;
  	background: #fff;
  	padding: 0 5px;
};

// большойtextarea
.usermessage {
	width: 605px;
	height: 190px;
	border: 1px solid $main-text-color;
	margin-bottom: 28px; 
};
// кнопка
.header__btn {
	padding-top: 12px;
	padding-right: 25px;
	padding-bottom: 12px;
	padding-left: 25px;
	margin-top: 0px;
	margin-right: 44px;
	margin-bottom: 0px;
	margin-left: 0px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
};
//кнопка
.main__btn--yellow {
	width: 219px;
	height: 45px;
	border: none;
	background-color: #FFA501;
};
//валидационная форма
.error-message {
	color: red;
	font: $subtitles-header;
}
.check {
	display: none;
}

.main__btn--yellow-adaptiv{
	display:none;
}

//адптив под 320px
@media (max-width: 320px ) {
	body{
		overflow-x: hidden;
	};

	.header__img {
	background-image: url("../src/../img/Background-320px.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	  };

	  .social {
	display: none;
	};

	.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 320px;
  };

	.header {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 320px;
	height: 640px;
  };
  
  .header__element {
	margin-top: 207px;
	margin-right: 55px;
	margin-bottom: 9px;
	margin-left: 20px;
	z-index: 1;  
  };
  
  .circle {
	border-radius: 50%;
	background-color: #FFA501;
  };
  
  .header__circle--size {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 200px;
	left: 10px;
	z-index: 0;
  };
  
  .third__header {
	font: 700 16px/24px "Poppins", sans-serif;
	color: #000000;
  };
  
  .header__main-header {
	width: 300px;
	height: 72px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	font: $main-header-adaptiv;
	color: #000000;
  };
  
  .header__btn-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
  };
  
  .header__btn {
	width: 135px ;
	height: 45px ;
	padding-top: 12px;
	padding-right: 25px;
	padding-bottom: 12px;
	padding-left: 25px;
	margin-top: 32px;
	margin-right: 44px;
	margin-bottom: 0px;
	margin-left: 0px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	cursor: pointer;
  };
  
  .link {
	@include margin(32px,0px,0px,0px);
	text-decoration: none;
	color: #000000;
  };

  .big {
	display: none;
  };

  .main__btn--yellow {
	width: 135px;
	height: 45px;
	border: none;
	background-color: #FFA501;
	@include margin(32px,44px,0px,10px);

  };

	.main__btn--yellow-adaptiv{
		display: block;
		width: 219px;
		height: 45px;
		border: none;
		background-color: #FFA501;
		@include margin(20px,50px,50px,50px);
	};

  //burger
  .burger-menu {
	width: 295px;
	height: 640px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #FFA501;
	z-index: 10;
  };
  
  .nav {
	display: flex;
	flex-direction: column;
  };
  
  .menu {
	font: 700 18px/36px "Poppins", sans-serif;
	color: #FFFFFF;
	list-style-type: none;
  };
  
  .close__two {
	font-size: 38px;
	position: absolute;
	top: 24px;
	left: 235px;
	right: 25px;
	cursor: pointer;
  };
  
  .menu__item {
	font: 700 17px/36px "Poppins", sans-serif;
	text-decoration: none;
	color: #FFFFFF;
	position: relative;
  };
  .menu__item::before {
	position: absolute;
	top: 3px;
	left: -35px;
	border: 1px solid #000000;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #FFA501;
	content: '';
  };
  
  .li__menu-item {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
  };
  
  .burger__social {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 100px;
  };

  //опыт
	.experience {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 1039px;
		width: 300px;
		margin-top:  48px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 30px;
	};
	
	.secondary__header {
		font: $secondary-header-adaptiv;
		color: $main-text-color;
	};

	.experience__header-position {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 15px;
		margin-left: 0px;
	};
	
	.experience__string-position {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 40px;
		margin-left: 0px;
	};
	
	.flex {
		display: flex;
		flex-direction: column;
	};
	
	.education {
		display: flex;
		flex-direction: column;
		position: relative;
	};
	
	.education__circle--size {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 7px;
		left: -8px;
	};

	.education__text-adaptiv{
		display: block;
		@include margin(0px,12px,10px,42px)
	};

	.education__position--mr{
		margin-bottom: 40px;
	};
	
	.education__main-string {
		width: 398px;
		height: 1px;
		background-color: #000000;
		position: absolute;
		top: 220px;
		left: -200px;
		transform: rotate(-90deg);
	};
	
	.education__item {
		display: flex;
		flex-direction: column;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 10px;
		margin-left: 0px;
	};
	
	.education__element-circle {
		display: flex;
		flex-direction: row;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 12px;
		margin-left: 0px;
	};
	
	.education__circle--size--big {
		width: 36px;
		height: 36px;
		margin-top: 0px;
		margin-right: 20px;
		margin-bottom: 0px;
		margin-left: 42px;
		position: relative;
	};

	.education__circle--size--big::before {
		width: 42px;
		height: 1px;
		background-color: #000000;
		transform: rotate(-180deg);
		content: '';
		position: absolute;
		top: 20px;
		left: -42px;
	};
	
	.education__item--bottomn {
		margin-bottom: 0px;
	};
	
	.education__header {
		margin-top: 0px;
		margin-right: 121px;
		margin-bottom: 45px;
		margin-left: 42px;
	};

	.education__subtitle {
		display: flex;
		flex-direction: column;
	};
	
	.education__main-text {
		display: none;
	};

	.education__main-text-adaptiv{
		display: block;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	};
	
	.education__text {
		display: none;
	};
//footer
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 699px;
		width: 300px;
		margin-bottom: 50px;
		margin-top: 50px;
	  };
	  
	  .footer__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 320px;
	  };

	  .main__img{
		display: none;
	  };

	  .footer__flex {
		display: flex;
		flex-direction: column;
	  };
	  
	  .footer__info {
		margin-top: 0px;
		margin-right: 10px;
		margin-bottom: 0px;
		margin-left: 10px;
	  };
	  
	  .footer__element {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 20px;
		margin-left: 12px;
		position: relative;
		z-index: 1;
	  };
	  
	  .footer__string-position {
		margin-top: 4px;
		margin-right: 0px;
		margin-bottom: 20px;
		margin-left: 0px;
	  };

	  .social__img-footer-1 {
		margin-top: 0px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-left: 0px;
	  };
	  
	  .feedback__footer-info {
		display: flex;
		flex-direction: column;
		margin-bottom: 21px;
	  };
	  
	  .user {
		width: 300px;
		height: 45px;
		border: 1px solid #000000;
		margin-right: 19px;
	  };
	  .user:last-child {
		margin-right: 0px;
	  };
	  
	  .input__box {
		position: relative;
		margin-bottom: 21px;
	  };
	  
	  .input__box-label {
		position: absolute;
		top: -10px;
		left: 10px;
		background: #fff;
		padding: 0 5px;
	  };
	  
	  .usermessage {
		width: 300px;
		height: 190px;
		border: 1px solid #000000;
		margin-bottom: 28px;
	  };

	  .check {
		display: block;
		height: 36px;
		width: 300px;
		@include margin(0px,70px,20px,70px);
	  };

	  .check__input{
		@include margin(0px,10px,0px,0px);
	  };

	  .check__blue{
		color:$confidential-text-color;
		font: $main-text-input ;
	  };
}